
body{
    background-color: black;
}
   
/*header*/
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 600%
}
h3{
    text-align: center;
}
.col-5{
    background-image:url(/home/dev2/code/e_shop/assets/images/background-carreau.jpg);
    text-align: center;
    padding: 2%;
    
}
.col-7{
    background-image:url(/home/dev2/code/e_shop/assets/images/background-carreau.jpg);
    text-align: center;
    padding: 2%;
    
}
header{
    background-image:url(/home/dev2/code/e_shop/assets/images/background-carreau.jpg)
   
}
.nav{
    background-color: darkslategray;
    
}

.nav>.nav-item{
    text-align: right;
}

.nav>.nav-item>.nav-link{
    color: white;
    
}

/*main*/
.card{
    margin-top: 30%;
    margin-left: 20%;
    font-size: 150%;
    text-align: center;
}

