body{
    padding: 80px;
}
.container{
 margin: 0;
 padding:0;
}
.col-12{
    margin: 0;
    padding:0;
}

/*header*/
h1{
 text-align: center;
}
h3{
 text-align: center;
}
header{
 background-image:url(/home/dev2/code/e_shop/assets/images/background-carreau.jpg)

}
.nav{
 background-color: darkslategray;
 
}

.nav>.nav-item{
text-align: right;
}

.nav>.nav-item>.nav-link{
 color: white;
 
}
section{
    color: white;
    font-size: 150%;
}